
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.violeta{
    background-color: blueviolet;
}
.nombreDisp{
    color: brown;
    font-weight: bold;
}
.borde{
    border: 1px solid black;
}
.input-field label {
    color: rgb(233, 28, 28);
  }