
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.violeta{
    background-color: blueviolet;
}
.nombreDisp{
    color: brown;
    font-weight: bold;
}